body {
    text-align: center;
    background-color: #0069d9;
}

form {
    position: absolute;
}

img {
    margin: 0.6em;
    width: 25%;
    height: 15%;
}


/* 
input {
    border: 0.0em;
    padding: 0.4em;
    margin: 0.3em;
    font-size: 1.4em;
    width: 85%;
}

button {
    border: 0.3em solid rgb(17, 13, 171);
    margin: 0.3em;
    width: 90%;
    background-color: rgb(17, 13, 171);
    font-size: 1.6em;
    color: white;
}

button:hover {
    background-color: #3b0aec;
}

a {
    font-size: 120%;
    text-decoration: none;
    color: white;
}

a:hover {
    color: silver;
} */